* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(225, 255, 0);
}

a:hover {
    color: red;
}

body {
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(180, 7, 7, 0.9346113445378151) 24%, rgba(2, 117, 92, 0.8169642857142857) 54%, rgba(10, 10, 122, 1) 77%);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav {
    border: ridge yellow 5px;
    background-color: rgba(10, 53, 110, 0.891);
}

.tt {
    background-color: forestgreen;
    background-image: linear-gradient(to right, #da4822, #e6265d, #d42f97, #a152c7, #2b6de3);
    border-style: outset;
    width: 97%;
    margin: 6px;
    height: 55%;
    display: flex;
    align-self: center;
    background-color: rgba(0, 0, 255, 0.295);
    /* poner elementos a en los li para centrar */

}

.tt a {
    text-decoration: none;
    min-height: 100%;
    width: 100%;
    text-align: right;
    color: white;
    margin: 10px;
}

.Logo {
    margin: 5px;
    min-height: 80px;
    width: 80px;
    justify-content: center;
    border-radius: 40%;

}


.algos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    min-height: 5vh;

}


.
img {
    height: 90px;
    border-radius: 20px;

}



a {
    text-decoration: none;
    color: rgb(255, 255, 0);
    text-align: center;
}

.contenedor-popular {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
    height: min-content;
}

.contenedor-populare{
    padding: 10px;
    height: min-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;   
;
}

.fav{
    background-color: red;
}

.sbasis {
    border: 10px dotted gold;
    display: flex;
    width: 100%;
}



.sbasis-img {
    flex-basis: 20%;
    background-image: url(FRAN.jpg) ;
    background-repeat: no-repeat;    
    background-size: cover; 
    background-position: top center; 
    border:5px solid skyblue;
}

.sbasis-imge{
    flex-basis: 15%;
    background-image: url(cript-post.jpg) ;
    background-repeat: no-repeat;    
    background-size: cover; 
    background-position: bottom right; 
    border:5px solid skyblue;


}

.sbasis-text{
    margin: 10px;
    flex-basis: 80%;
    background-color: rgba(165, 42, 42, 0.757);
    display: flex;
    justify-content: center;
}

.sbasis-texto{
    margin: 10px;
    flex-basis: 100%;
    background-color: rgba(14, 139, 14, 0.757);
    display: flex;
    justify-content: center;

}

h2{
    margin: 10px;
    padding: 10px;
    width: 15%;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    border: 4px solid greenyellow;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    margin: 20px;
    border-radius: 20px;
    width: 300px;
    color: orangered;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 40px solid black;
    border-style: outset;
}

.fato{
    display: flex;
    position: relative;
    bottom: 10%;
    margin-left: auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mg1{
        
    width: 100px;
   min-height: 150px;
    border: 3px solid rgb(255, 38, 38);
}

.la{
    text-align: center;
}

.lu{
    padding: 5px;
    font-size: 22px;
    width: 150px;
    list-style: none;
    background-color: rgba(128, 255, 0, 0);
    margin: 7px;
    border-style: outset;
}

li{
    text-align: center;
}