* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(225, 255, 0);
}

a:hover {
    color: red;
}

body {
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(180, 7, 7, 0.9346113445378151) 24%, rgba(2, 117, 92, 0.8169642857142857) 54%, rgba(10, 10, 122, 1) 77%);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav {
    border: ridge yellow 5px;
    background-color: rgba(10, 53, 110, 0.891);
}

.tt {
    background-color: forestgreen;
    background-image: linear-gradient(to right, #da4822, #e6265d, #d42f97, #a152c7, #2b6de3);
    border-style: outset;
    width: 97%;
    margin: 6px;
    height: 55%;
    display: flex;
    align-self: center;
    background-color: rgba(0, 0, 255, 0.295);
    /* poner elementos a en los li para centrar */

}

.tt a {
    min-height: 100%;
    width: 100%;
    text-align: right;
    color: white;
    margin: 10px;
}

.Logo {
    margin: 5px;
    min-height: 80px;
    width: 80px;
    justify-content: center;
    border-radius: 40%;

}


.algos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    min-height: 5vh;

}


.contenedora {
    height: 80vh;
    background-color: rgba(128, 128, 0, 0.987);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: right;
    flex-wrap: wrap;
    padding: 20px;
    margin: 15px;
    border: 2px solid yellow;

}

.contenedora div {
    height: min-content;
    width: min-content;
}

.contenedora p {
    color: white;
}

h2 {
    justify-content: flex-start;
}

.pe {
    transition-property: font-size;
    font-family: fantasy;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0 10 10;
    font-size: 60px;
    background: conic-gradient(#f69d3c, #3f87a6);
    color: transparent;
    background-clip: text;
    text-shadow: 25px 15px 1px yellow;
}

.caja-img {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.imga {
    height: 400px;
    width: 300px;
    padding: 10px;
    object-fit: cover;
    border: 3px solid yellow;
}

.fondo-de {
    height: 70vh;
}

section {
    height: 50vh;
    background-color: rgba(113, 0, 113, 0.683);
    border: rgb(210, 225, 2) solid 1px;
}

.Clientes {
    margin: 7%;
}

.titulo-de-cli {
    text-align: center;
    height: min-content;
    width: 20%;
    border: black 2px solid;
    margin: 2%;
    border-radius: 20%;
    background-color: pink;
}

.info-cli p{
    margin: 5%;
    width: 90%;
    background-color: #fffcff;
    border-radius: 10%;
}

p {
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
    color: darkgreen;
    width: 800px;
    text-align: center;
    position: relative;
    bottom: 0;
}


footer {
    height: 100%;
    width: 100%;
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: white;
    border: rgb(119, 117, 117) solid 2px;

}

.conten-foot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.a-foot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.tus {
    width: 100%;
}

.tus p {
    width: 100%;
    height: 50%;
    background-color: #1200135b;
    font-size: 90%;
}